<img src="https://dauphine.psl.eu/fileadmin/_processed_/9/2/csm_damier_logo_Dauphine_f7b37a1ff2.jpg" width="200" style="vertical-align:middle" /> <h1>Master 222: Introduction to Python - Session 3</h1>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Zaltarba/PSL_python_for_finance/blob/main/python_session_3_corrected.ipynb)

# The Pandas library

In this exercise, you will learn to use the pandas module. Pandas is a Python package specialized in data manipulation.

[For more information on pandas click here](http://pandas.pydata.org/)

To begin, you need to import the `pandas` module under the abbreviated name `pd`. Therefore, execute this preamble cell. NumPy will also be used.

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np

## Exercice 1

A Series is a one-dimensional array with labels, that can hold any data type. The labels are referred to as the index. Its syntax is as follows: pd.Series(X) where X is a list or an array.  

1. Create a Series of 5 data points from a random list of numbers distributed between 0 and 1.

In [2]:
## Insert your code here
X = [0.01, 0.5, 0.7, 1, 0]
series = pd.Series(X)
print(series)

0    0.01
1    0.50
2    0.70
3    1.00
4    0.00
dtype: float64

It is possible to specify the indices using the following syntax: pd.Series(X, index = Y) where X is the data list and Y is a list of associated indices.  

2. Create a Series of 4 data points, each with a value of 1, and specify the following list of indices: ['a', 'b', 'c', 'd'].

In [3]:
## Insert your code here
values = [1, 1, 1, 1]
index = ['a', 'b', 'c', 'd']
series = pd.Series(values, index=index)
print(series)

a    1
b    1
c    1
d    1
dtype: int64

By using indices, you can access the data in the Series in the same way you access elements in a list.  
Slicing is also possible.

3. Create a variable named series_one and assign it a Series created from a list of 4 random numbers distributed between 0 and 1.
4. Use the list of indices from the previous question: ['a', 'b', 'c', 'd'].
5. Retrieve the first element of series_one using the corresponding index.

In [4]:
## Insert your code here
values = [1, 1, 1, 1]
index = ['a', 'b', 'c', 'd']
series_one = pd.Series(values, index=index, name='test')
print(series['a'])

1

6. Change the fourth data point of `series_un` to 0.
7. Display `series_un`.

In [5]:
## Insert your code here
series['d'] = 0
print(series)

a    1
b    1
c    1
d    0
dtype: int64

## Exercice 2

Python consistently returns a `dtype: float64` when calling the Series. This represents the data type, in this case floats, and their encoding, here on 64 bits. You can specify the data type you want to handle when creating a Series.

Furthermore, you can name the Series using the `name` parameter.

1. Create a variable `series_two` from an array of four ones.
2. Specify the data type `dtype` as `int`.
3. Name this Series `my_series`.
4. Display the Series.

In [6]:
## Insert your code here
series_two = pd.Series(np.ones(4), dtype=int, name="my_series")
print(series_two)

0    1
1    1
2    1
3    1
Name: my_series, dtype: int32

The `describe()` function returns a variety of information about the Series it is applied to.

5. Create a variable `series_three` from an array of 20 random numbers uniformly distributed between 0 and 1.
6. Display information about the Series using `describe()`.

In [7]:
## Insert your code here
series_three = pd.Series(
    np.random.uniform(0, 1, size=20)
    )
series_three.describe()

count    20.000000
mean      0.531322
std       0.317484
min       0.059582
25%       0.216583
50%       0.634685
75%       0.785333
max       0.989865
dtype: float64

It's possible to add Series together. Pandas will sum the data with matching *indices*. If an *index* is missing in one of the Series, the resulting sum Series will display `NaN` (Not a Number) at that index.

7. Create a Series `series_four` from an array of 19 random numbers uniformly distributed between 0 and 1.
8. Sum `series_three` and `series_four` and look at the result.

In [8]:
## Insert your code here
series_four = pd.Series(
    np.random.uniform(0, 1, size=19)
    )
series_three + series_four

0     0.541507
1     0.960788
2     1.086364
3     1.147712
4     1.020546
5     0.964261
6     0.743018
7     1.676067
8     1.673172
9     0.526035
10    1.743074
11    1.018972
12    0.157461
13    0.752815
14    0.580857
15    1.175900
16    1.296516
17    1.696715
18    0.871672
19         NaN
dtype: float64

However, you can specify a particular value to use where the *indices* do not match during a summation. The following syntax is used:
```
## Assume a and b are two Series
a.add(b, fill_value = 0)  ## we decide to replace with 0
```

9. Sum `series_three` and `series_four` by specifying fill_value equal to 100.

In [9]:
## Insert your code here
series_three.add(series_four, fill_value=0)

0     0.741019
1     0.735129
2     0.615017
3     1.234801
4     1.005808
5     0.794237
6     0.733299
7     1.305130
8     0.776037
9     1.110181
10    1.456773
11    1.902158
12    1.435543
13    0.248733
14    1.122243
15    1.791011
16    0.498384
17    0.857394
18    1.480271
19    0.982595
dtype: float64

Lastly, it's possible to use mathematical operators on Series. The following syntax is used:
```
# Assume a is a Series
a[a >= 0.5]  ## returns the data from a greater than 0.5
a * 2  ## multiplies the data from a by two
```

10. Create a variable `a`, and assign it a Series of integer numbers uniformly distributed between 1 and 20, with a size of 20.
11. Display the Series with data strictly greater than 10.

In [10]:
## Insert your code here
a = pd.Series(np.random.randint(1, 20, size=20))
print(a[a > 10])

0     12
3     15
5     13
6     12
9     13
11    17
13    17
16    19
17    13
18    14
dtype: int32

## Exercice 3

1. Create an *index* of size 20 that includes "boy" or "girl" randomly distributed.
    - use a list by comprehension
2. Create an array of size 20 that displays ages ranging from 3 to 16 years, randomly distributed.
3. Create a Series `cousins` with `name = "my cousins"`, the index created previously, and data from the array.
4. Using the index, create a Series boys and a Series girls filtering the Series `cousins`.
    - use `cousins.index`
5. Display information about these two Series.

In [11]:
## Insert your code here
index = ["boy" if p<0.5 else "girl" for p in np.random.uniform(0, 1, size=20)]
ages = np.random.uniform(3, 16, size=20)
cousins = pd.Series(ages, index=index, name="my_cousins")
print("---Cousins Series---")
print(cousins)

---Cousins Series---
boy     14.427794
boy     14.513814
boy     12.336391
girl    10.282653
girl    11.205029
boy     11.013296
boy      6.526813
girl     8.485520
boy      5.510875
boy     15.597534
boy     14.519852
boy     13.240707
girl     8.987558
girl    14.595900
girl     4.940781
boy     12.332713
boy      6.234385
boy     12.763526
boy      8.711327
boy      6.724856
Name: my_cousins, dtype: float64

In [12]:
girls = cousins[cousins.index == "girl"]
boys = cousins[cousins.index == "boy"]
print("---Girls Informations---")
print(girls.describe())
print("---Boys Informations---")
print(boys.describe())

---Girls Informations---
count     6.000000
mean      9.749573
std       3.199762
min       4.940781
25%       8.611029
50%       9.635105
75%      10.974435
max      14.595900
Name: my_cousins, dtype: float64
---Boys Informations---
count    14.000000
mean     11.032420
std       3.569826
min       5.510875
25%       7.221474
50%      12.334552
75%      14.131023
max      15.597534
Name: my_cousins, dtype: float64

## Exercice 4

Now we turn our attention to DataFrames. DataFrames are the two-dimensional extension of Series. Thus, the *indices* are shared among the columns of the DataFrame.

A common way to create a DataFrame is by using a dictionary. The syntax is as follows:
```python
pd.DataFrame({'Name of the first column': data_1, 'Name of the second column': data_2})
```
1. Create a DataFrame *df* with two columns: 'Gender' and 'Age', using the data from the previous question.
2. Display the DataFrame.

In [13]:
## Insert your code here
data = {
    'Gender':index, 
    'Age':ages
    }
df = pd.DataFrame(data)
print(df)

   Gender        Age
0     boy  14.427794
1     boy  14.513814
2     boy  12.336391
3    girl  10.282653
4    girl  11.205029
5     boy  11.013296
6     boy   6.526813
7    girl   8.485520
8     boy   5.510875
9     boy  15.597534
10    boy  14.519852
11    boy  13.240707
12   girl   8.987558
13   girl  14.595900
14   girl   4.940781
15    boy  12.332713
16    boy   6.234385
17    boy  12.763526
18    boy   8.711327
19    boy   6.724856

3. Create a list *dominant_hand* of size 20 that contains "left-handed" or "right-handed" distributed randomly.
    - Use a list by comprehension 
4. Add this list as a new column to *df*.  
    - Use `df['Dominant_hand'] = dominant_hand`
    - When naming columns avoid putting spaces, use _ instead

In [14]:
## Insert your code here
dominant_hand = [
    "left-handed" if p<0.2 else "right-handed" for p in np.random.uniform(0, 1, size=20)
    ]
df["Dominant_hand"] = dominant_hand
print(df)

   Gender        Age Dominant_hand
0     boy  14.427794  right-handed
1     boy  14.513814  right-handed
2     boy  12.336391  right-handed
3    girl  10.282653  right-handed
4    girl  11.205029   left-handed
5     boy  11.013296  right-handed
6     boy   6.526813  right-handed
7    girl   8.485520  right-handed
8     boy   5.510875  right-handed
9     boy  15.597534   left-handed
10    boy  14.519852   left-handed
11    boy  13.240707  right-handed
12   girl   8.987558   left-handed
13   girl  14.595900  right-handed
14   girl   4.940781  right-handed
15    boy  12.332713  right-handed
16    boy   6.234385  right-handed
17    boy  12.763526  right-handed
18    boy   8.711327  right-handed
19    boy   6.724856  right-handed

*Slicing* is possible with DataFrames.

5. Display the first 5 rows of *data_one*.
    - Using slicing 
    - Using .head() method

In [15]:
## Insert your code here
df[0:5]
df.iloc[0:5]

  Gender        Age Dominant_hand
0    boy  14.427794  right-handed
1    boy  14.513814  right-handed
2    boy  12.336391  right-handed
3   girl  10.282653  right-handed
4   girl  11.205029   left-handed

6. Display the columns "Gender" and "Dominant Hand".

In [16]:
## Insert your code here
print(df['Age'])
display(df['Age'])

0     14.427794
1     14.513814
2     12.336391
3     10.282653
4     11.205029
5     11.013296
6      6.526813
7      8.485520
8      5.510875
9     15.597534
10    14.519852
11    13.240707
12     8.987558
13    14.595900
14     4.940781
15    12.332713
16     6.234385
17    12.763526
18     8.711327
19     6.724856
Name: Age, dtype: float64

## Exercice 5

It is possible to concatenate two DataFrames using the command `pd.concat()`. The syntax is as follows:
```python
# Assume X and Y are two DataFrames
pd.concat([X,Y], axis = 0)  ## concatenates vertically
pd.concat([X,Y], axis = 1)  ## concatenates horizontally
```
1. Create a list of size 20 that includes "red", "blue", or "green" distributed randomly.
    - use a list by comprehension 
    - use a dictionnary 
    - use np.random.randint
2. Create a DataFrame df_colors from this list.
3. Add a name to the column using the command df_colors.columns = ['Column_Name'].
4. Concatenate df and df_colors into df.

In [17]:
mapping = {
    0:"blue", 
    1:"red", 
    2:"green"
    }
colors = [mapping[c] for c in np.random.randint(3, size=20)]
df_colors = pd.DataFrame(colors)
df_colors.columns = ['Favourite_colors']

df = pd.concat([df, df_colors], axis=1)

## To Go Further

Use pandas documentations or stackoverflow to find the answers of the following exercises.

### Basic DataFrame Operations:

1. Create a DataFrame from a dictionary with keys: 'Name', 'Age', 'City' and populate it with some data.
2. Display the first 5 rows of the DataFrame.
3. Display the last 3 rows of the DataFrame.
4. Display the data types of each column.

### Indexing and Selection:

1. Select the 'Name' and 'City' columns from the DataFrame.
2. Select the row at index 2 from the DataFrame.
3. Select the rows where 'Age' is greater than 25. Display the first 5.

### Sorting and Ranking:

1. Sort the DataFrame based on 'Age' in descending order.
2. Create a variable 'Age_rank', with the oldest as rank 1.

### Missing Data:

1. Introduce some missing values in the DataFrame using np.nan.
    - Create a dataframe using a dictionnary by comprehension 
    - Do not add missing values to the column Name
2. Display the number of missing values for each columns 
3. Fill the missing values with the mean of the non-missing values.

### Grouping and Aggregation:

1. Group the DataFrame by 'City' and calculate the mean age for each city.
2. Find the maximum and minimum age for each city.
3. Create a variable 'Age_rank_by_city', creating a ranking for each city.

### Merging, Joining, and Concatenating:

1. Create a second DataFrame with keys: 'Name', 'Job Title'.
2. Merge the two DataFrames.
    - Use df.merge

In [18]:
## Insert your code here
n_population = 200
name_list = ['Alice', 'Bob', 'Dan', 'Fred', 'Diego', 'Ali', 'Jie', 'Marc', 'Jean', 'Pierre']
names = [name_list[i] for i in np.random.randint(0, len(name_list), size=n_population)]
ages = np.random.uniform(1, 100, size=n_population)
city_list = ['Paris', 'New York', 'Pekin', 'Munich']
cities = [city_list[i] for i in np.random.randint(0, len(city_list), size=n_population)]
data = {
    'Name':names, 'Age':ages, 'City':cities
    }
df = pd.DataFrame(data)
print(df.head())
print(df.tail(3))
print(df.dtypes)

    Name        Age      City
0    Jie  75.181961  New York
1  Diego  12.577800  New York
2   Marc  16.385427  New York
3    Ali  27.501240     Pekin
4    Bob  33.877191  New York
       Name        Age    City
197    Jean  52.745618  Munich
198  Pierre  35.708605   Paris
199  Pierre  57.050936   Paris
Name     object
Age     float64
City     object
dtype: object

In [19]:
print(df[['Name', 'City']])
print(df.loc[2, :])
print(df[df['Age'] > 25].head())

df = df.sort_values(by='Age')
df['Age_rank'] = df['Age'].rank()

missing_values = {col:[np.nan for _ in range(len(name_list))] for col in df.columns}
missing_values['Name'] = name_list
missing_values = pd.DataFrame(missing_values)

for col in df.columns:
    if df[col].isna().sum() > 0:
        df[col] = df[col].fillna(value=df[col].mean())

       Name      City
0       Jie  New York
1     Diego  New York
2      Marc  New York
3       Ali     Pekin
4       Bob  New York
..      ...       ...
195     Ali     Paris
196     Ali    Munich
197    Jean    Munich
198  Pierre     Paris
199  Pierre     Paris

[200 rows x 2 columns]
Name         Marc
Age     16.385427
City     New York
Name: 2, dtype: object
    Name        Age      City
0    Jie  75.181961  New York
3    Ali  27.501240     Pekin
4    Bob  33.877191  New York
6   Marc  98.309515     Paris
7  Alice  42.011037    Munich

In [20]:
print(df.groupby('City')['Age'].mean())
print(df.groupby('City')['Age'].min())
print(df.groupby('City')['Age'].max())

City
Munich      42.550614
New York    48.285032
Paris       52.315989
Pekin       53.153915
Name: Age, dtype: float64
City
Munich      2.300939
New York    1.111096
Paris       3.562371
Pekin       1.170943
Name: Age, dtype: float64
City
Munich      98.603261
New York    98.601661
Paris       98.367082
Pekin       99.410013
Name: Age, dtype: float64

In [21]:
df['Age_rank_by_city'] = df.groupby('City')['Age'].rank()

jobs_list = ['Quant Researcher', 'Portfolio Manager', 'Structurer', 'Sales', 'Analyst', 'Commando', 'Trader']
jobs = [jobs_list[i] for i in np.random.randint(0, len(jobs_list), size=len(df))]

data_bis = {
    "Name":df['Name'].values, 
    "Job_Title":jobs
}

df_bis = pd.DataFrame(data_bis)
df = df.merge(df_bis)
df.head()

   Name       Age      City  Age_rank  Age_rank_by_city          Job_Title
0  Marc  1.111096  New York       1.0               1.0   Quant Researcher
1  Marc  1.111096  New York       1.0               1.0   Quant Researcher
2  Marc  1.111096  New York       1.0               1.0            Analyst
3  Marc  1.111096  New York       1.0               1.0  Portfolio Manager
4  Marc  1.111096  New York       1.0               1.0   Quant Researcher